* {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: "Trebuchet MS"
}

a {
    color: none;
}

.hr {
    background-color: #e0e0e0;
    height: 0.3px;
    width: 100%;
    padding: 1px;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.navigation {
    display: flex;
    height: 100%;
    width: 100%;
}

.vertical-nav {
    width: 12%;
    height: 100%;
    background-color: rgba(236, 239, 241, 1);
    position: fixed;
    box-shadow: 0px 0px 2px rgba(10, 10, 10, 0.3);
    z-index: 4;
}

.vertical-header {
    color: white;
    background-color: rgba(25, 118, 210, 1);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    box-shadow: 0px 3px 6px -6px rgba(10, 10, 10, 0.3);
}

.vertical-header p {
    padding: 0.7em;
    font-weight: bolder;
    width: 100%;
}

.ver-link {
    z-index: 3;
    width: 100%;
    height: auto;
}

.ver-link li {
    font-size: 13px;
    color: #455a64;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.ver-link li ul {
    width: 100%;
}

.ver-link li ul li {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
}

.ver-link li ul li:not(:last-child) {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.ver-link li ul li i {
    padding-right: 1em;
}

.ver-link li ul li a {
    color: rgba(33, 33, 33, 1)!important;
}

.ver-link li a {
    color: rgba(33, 33, 33, 1)!important;
}

.ver-link li ul li:hover {
    background-color: rgba(224, 224, 224, 1)!important;
    cursor: pointer!important;
    transition: background-color 0.4s!important;
}

.ver-link li p {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
}

.ver-link li p:hover {
    background-color: rgba(224, 224, 224, 1)!important;
    cursor: pointer!important;
    transition: background-color 0.4s!important;
}

.nav-header {
    width: 88%;
    position: fixed;
    background-color: rgba(33, 150, 243, 1);
    color: white;
    left: 12%;
    box-shadow: 0px 3px 6px -6px rgba(10, 10, 10, 0.7);
    z-index: 5;
}

.nav-div {
    display: flex!important;
    justify-content: space-between!important;
    height: 100%!important;
    background-color: none!important;
}

.nav-div ul {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0.5em;
}

.nav-div ul li {
    padding: 0.7em;
}

.nav-toggle:hover {
    color: rgba(33, 33, 33, 1);
    transition: color 0.2s
}


/*.nav-breadcrumb1{
    background-color: rgba(28,28,28,0.9);
    padding: 1em;
}

.nav-breadcrumb2{
    background-color: rgba(28,28,28,0.8);
    padding: 1em;
    width: 100%;

}*/

.content-area {
    background-color: rgba(245, 245, 245, 1);
    position: absolute;
    left: 12%;
    height: calc(100% - 57.375px);
    max-height: auto;
    top: 57.375px;
    display: flex;
    width: 88%;
    /* z-index: -1 */
}

.inner-content {
    background-color: rgba(236, 239, 241, 1);
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    max-height: auto;
    box-shadow: 0px 0px 2px rgba(10, 10, 10, 0.3);
    border-radius: 8px;
    padding: 15px;
    /* calc(100% - 30px); */
}

.profile-img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.collapsible {
    box-shadow: none!important;
    background-color: none!important;
    padding: 0px;
}

.collapsible .collapsible-header {
    background-color: transparent!important;
    /* border: none; */
}

.collapsible-body {
    padding: 0px;
}

.overlay {
    position: fixed;
    width: calc(100% - 191px);
    height: 100%;
    left: calc(100% - calc(100% - 191px));
    background-color: rgba(50, 50, 50, 0.4);
    z-index: 5;
    display: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(25, 118, 210, 1);
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(25, 118, 210, 0.6);
}

.profile {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
}

.profile li {
    text-align: center;
    cursor: pointer;
}

.profile li:hover {
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.2s;
}

.profile li:first-child {
    width: 30%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.profile li:not(:first-child) {
    width: 70%;
}

@media only screen and (max-height: 700px) {
    .ver-link {
        height: 80%;
        overflow-y: scroll;
    }
    .content-area {
        height: auto!important;
        max-height: auto;
    }
    .inner-content {
        height: auto!important;
        max-height: auto;
    }
}

.profile-drop {
    display: none;
    position: fixed;
    width: 130px;
    height: auto;
    z-index: 5;
    top: calc(100% - calc(100% - 58px));
    left: calc(100% - 133px);
    box-shadow: 0px 3px 4px -6px rgba(10, 10, 10, 0.7);
}

.profile-drop li {
    width: 100%;
    padding: 1em;
    border-bottom: 0.3px solid rgba(224, 224, 224, 0.8);
}

.profile-drop li:hover {
    background-color: rgba(224, 224, 224, 1)!important;
    cursor: pointer!important;
    transition: background-color 0.4s!important;
}

.notification-drop {
    display: none;
    position: fixed;
    width: 300px;
    max-height: 390px;
    overflow-y: scroll;
    z-index: 4;
    top: calc(100% - calc(100% - 58px));
    left: calc(100% - 436px);
    box-shadow: 0px 3px 4px -6px rgba(10, 10, 10, 0.7);
    font-size: 12px;
}

.notification-drop li {
    width: 100%;
    padding: 1em;
    border-bottom: 0.3px solid rgba(224, 224, 224, 0.8);
    border-left: 2px solid #1976d2;
}


/* .notification-drop li:first-child:after{
    content: "";
    height: 100%;
    width: 2px;
    background-color: #1976d2;
    position: absolute;
    top:0;
    right: 0;
    z-index: 9;
} */

.notification-drop li:hover {
    background-color: rgba(224, 224, 224, 1)!important;
    cursor: pointer!important;
    border-left-color: #f50057;
    transition: background-color 0.4s, border-left-color 0.4s!important;
    /* border-left-color 0.4s; */
}

.main-details {
    padding: 15px;
    border-radius: 8px;
}

.r-card {
    border-radius: 10px;
    cursor: pointer;
}

.r-card:hover {
    box-shadow: inset 0px 0px 3px rgba(79, 195, 247, 0.7);
    transition: box-shadow 4s;
}

.card-content {
    width: 100%!important;
}

.ts {
    height: 100px;
    overflow-y: scroll;
    overflow-x: scroll;
}


/* h3{
    font-size: 2vw!important;  always remember
} */