.custom-foot {
    background-color: rgba(35, 32, 32, 1)!important;
    color: #bdbdbd!important;
    padding: 1em!important;
    margin-bottom: 0px!important;
}

.custom-copy-right {
    background-color: black;
    color: #bdbdbd!important;
    padding: 1em!important;
    margin-bottom: 0px!important;
}

.inner-img img {
    width: 30px!important;
    cursor: pointer;
    /* height:30px!important; */
}

.custom-email-link:hover {
    color: #fdd800!important;
    cursor: pointer;
    transition: color 0.3s;
}

.sec1 {
    padding: 1em!important;
}

.cusexp ul li {
    padding: 0.3em!important;
}

.cusexp ul li a{
    color:#bdbdbd!important;
}

.cusexp ul li a:hover {
    color: #fdd800!important;
    cursor: pointer;
    transition: color 0.3s;
}

.custom-date {
    width: 50px!important;
    height: 50px!important;
    /* padding: 1em!important; */
    font-weight: bolder;
    border: 1px solid #bdbdbd;
    text-align: center;
    vertical-align: center;
}

.cus-panel1 {
    padding: 0em!important;
}

blockquote {
    border-left: 5px solid #fdd800!important;
}