*:not(i) {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Hind', sans-serif!important;
}

.nav-header,
.nav-body,
.nav-links,
.nav-misc,
.nav-links ul {
    display: flex;
}

.nav-header {
    position: fixed;
    height: 150px;
    background-color: transparent;
    width: 100%;
    flex-flow: row wrap;
    transition: height 1s, background-color 1s;
    z-index: 50!important;
}

.nav-header-small {
    position: fixed;
    height: 114px;
    background-color: rgba(33, 33, 33, 1);
    width: 100%;
    flex-flow: row wrap;
    transition: height 1s, background-color 1s;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    z-index: 50!important;
}

.nav-body {
    margin-left: 15%;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    transition: margin-left 0.5s, width 0.5s;
}

.nav-logo {
    padding: 1em;
}

.nav-links ul li {
    padding: 1em;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 30px;
    text-align: center;
    width: 100px;
    background-color: transparent;
    transition: background-color 0.5s, width 0.5s;
}

.less-width ul li {
    width: auto;
    transition: width 0.5s;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
}

.nav-misc {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: white;
}

.nav-misc button {
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.nav-miscs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: white;
    width: 100%;
}

.nav-miscs button {
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.nav-miscs i {
    padding: 0.5em!important;
    margin: 1em!important;
    border-radius: 30px!important;
    outline: none!important;
    border: 1px solid white!important;
    background-color: transparent!important;
    color: white!important;
    cursor: pointer!important;
}

.nav-misc i {
    padding: 0.5em!important;
    margin: 1em!important;
    border-radius: 30px!important;
    outline: none!important;
    border: 1px solid white!important;
    background-color: transparent!important;
    color: white!important;
    cursor: pointer!important;
}

.nav-misc button:hover,
.nav-misc i:hover {
    background-color: rgba(0, 145, 234, 1)!important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3)!important;
    border: 1px solid transparent!important;
    transition: background-color 0.2s!important;
}

.nav-miscs button:hover,
.nav-miscs i:hover {
    background-color: rgba(0, 145, 234, 1)!important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3)!important;
    border: 1px solid transparent!important;
    transition: background-color 0.2s!important;
}

.nav-links ul li:hover {
    background-color: rgba(0, 145, 234, 1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
}

.reset {
    margin-left: 0%!important;
    width: 100%!important;
    transition: margin-left 0.5s, width 0.5s;
}

#mobile-demo {
    background-color: rgba(33, 33, 33, 1);
}

#mobile-demo li a {
    color: white;
}

#mobile-demo li:hover {
    color: white;
    background-color: rgba(0, 145, 234, 1);
    transition: background-color 0.2s;
}

.searcharea {
    background-color: rgba(0, 145, 234, 0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000!important;
    padding: 1em!important;
}

.sbody input {
    background-color: white!important;
    color: #424242!important;
    padding: 0.5em!important;
    font-weight: bold;
    font-family: 'Hind', sans-serif!important;
    border: none!important;
    border-radius: 30px!important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4)!important;
}

.inp {
    padding: 0.5em!important;
}

.close {
    position: absolute;
    top: 20px;
    left: 95%;
    padding: 1em;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
}

.close:hover {
    background-color: rgba(239, 83, 80, 1);
    border: 1px solid transparent;
    transition: background-color 0.1s;
    cursor: pointer;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background-color: #F5F5F5;
}

 ::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(33, 33, 33, 1);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(33, 33, 33, 1);
}