*:not(i) {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Hind', sans-serif!important;
}

.nav-header,
.nav-body,
.nav-links,
.nav-misc,
.nav-links ul {
    display: flex;
}

.nav-header {
    position: fixed;
    height: 150px;
    background-color: transparent;
    width: 100%;
    flex-flow: row wrap;
    transition: height 1s, background-color 1s;
    z-index: 50!important;
}

.nav-header-small {
    position: fixed;
    height: 114px;
    background-color: white;
    width: 100%;
    flex-flow: row wrap;
    transition: height 1s, background-color 1s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    z-index: 50!important;
}

.nav-body {
    margin-left: 5%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    transition: margin-left 0.5s, width 0.5s;
    transition: height 1s;
}

.nav-body-small {
    height: 100%!important;
    margin-left: 5%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    transition: height 1s;
}

.reset {
    margin-left: 0%!important;
    width: 100%!important;
    transition: margin-left 0.5s, width 0.5s;
}

.nav-logo {
    padding: 1em;
}

.nav-links ul li {
    padding: 1em;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 30px;
    text-align: center;
    width: 100px;
    background-color: transparent;
    transition: background-color 0.5s, width 0.5s;
}

.less-width ul li {
    width: 70px;
    transition: width 0.5s;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
}

.nav-links-invert ul li a {
    color: black;
    text-decoration: none;
}

.nav-misc {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.nav-misc button {
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    /* color: black; */
    color: white;
    border: 0.5px solid white;
    font-weight: bolder;
    cursor: pointer;
}

.nav-misc i {
    padding: 0.5em!important;
    margin: 1em!important;
    border-radius: 30px!important;
    outline: none!important;
    background-color: transparent!important;
    /* color: black!important; */
    color: white;
    border: 0.5px solid white;
    cursor: pointer!important;
}

.invert {
    color: black!important;
    border: 0.5px solid black!important;
}

.nav-misc button:hover,
.nav-misc i:hover {
    /* background-color: rgba(0, 145, 234, 1)!important; */
    /* color: white; */
    background-color: #fdd800!important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3)!important;
    border: 0.5px solid transparent!important;
    transition: background-color 0.2s!important;
}

.nav-links ul li:hover {
    /* background-color: rgba(0, 145, 234, 1); */
    /* color: white; */
    background-color: #fdd800!important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
}

#slidenav li a {
    color: black;
}

#slidenav li:hover {
    color: white;
    /* background-color: rgba(0, 145, 234, 1); */
    background-color: #fdd800!important;
    transition: background-color 0.2s;
}

.searcharea {
    /* background-color: rgba(0, 145, 234, 0.9); */
    background-color: rgba(20, 120, 61, 0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000!important;
    padding: 1em!important;
}

.sbody input {
    background-color: white!important;
    color: #424242!important;
    padding: 0.5em!important;
    font-weight: bold;
    font-family: 'Hind', sans-serif!important;
    border: none!important;
    border-radius: 30px!important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4)!important;
}

.inp {
    padding: 0.5em!important;
}

.close {
    position: absolute;
    top: 20px;
    left: 95%;
    padding: 1em;
    color: white;
    border-radius: 30px;
    border: 0.5px solid white;
}

.close:hover {
    background-color: white;
    color: black;
    border: 1px solid transparent;
    transition: background-color 0.1s;
    cursor: pointer;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background-color: #F5F5F5;
}

 ::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(33, 33, 33, 1);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(33, 33, 33, 1);
}