html {
    position: relative;
    height: 100%!important;
    font-family: "Nunito";
}

body {
    position: relative;
    height: 100%!important;
}

.overlay {
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2!important;
}

.cont {
    /* position: relative; */
    z-index: 3!important;
}

.indicators {
    display: flex!important;
    justify-content: center;
}

.indicator {
    border-radius: 100%;
    height: 5px;
    width: 5px;
    background-color: transparent;
    border: 2px solid white;
    padding: 0.3em;
    margin: 1em;
    transition: background-color 0.5s;
}

.indicator-active {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 0.2)!important;
    transition: background-color 2s;
}

.inids {
    display: flex!important;
    justify-content: center!important;
}

.inid {
    border-radius: 100%;
    height: 5px!important;
    width: 5px!important;
    background-color: transparent;
    border: 2px solid #fdd800!important;
    padding: 0.3em;
    margin: 1em;
    transition: background-color 0.5s;
}

.inid-active {
    background-color: #fdd800!important;
    /* border: 2px solid rgba(255,255,255,0.2)!important; */
    transition: background-color 2s;
}

.booknow {
    border-radius: 30px;
    vertical-align: center!important;
    background-color: #fdd800!important;
    font-family: 'Merienda One', cursive!important;
    margin:0.5em!important;
}

.mybtn {
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    margin: 1em!important;
}

.ltext {
    color: white;
    font-size: 18px;
    padding: 0.5em;
}

.myhead {
    font-family: 'Merienda One', cursive!important;
    text-shadow: 2px 2px 3px rgba(58, 58, 58, 0.89);
    font-size: 70px;
}

.mybtn:hover {
    background-color: rgba(255, 255, 255, 1)!important;
    color: #fdd800!important;
}

.mybtn:focus {
    background-color: transparent!important;
    color: rgba(255, 255, 255, 1);
}

.booknow:hover {
    background-color: rgba(255, 255, 255, 1)!important;
    color: #fdd800!important;
}

.booknow:focus {
    background-color: rgba(2, 136, 209, 1);
}

@keyframes bounce {
    0% {
        transform: translateY(-1px)
    }
    50% {
        transform: translateY(2px)
    }
    100% {
        transform: translateY(-1px)
    }
}

.blackText {
    color: rgba(35, 32, 32, 1)!important;
}

.custom-divider {
    background-color: #fdd800!important;
    padding: 3px!important;
    width: 80px;
    margin-bottom: 1.5em!important;
}

.custom-border-area {
    display: flex!important;
    justify-content: center!important;
}

.lead {
    font-size: 18px;
    padding: 0.5em;
    margin-bottom: 1em!important;
}

.ltext1 {
    color: white!important;
    font-size: 30px!important;
    padding: 0.5em!important;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(58, 58, 58, 0.89);
}

.custom-overlay-discount {
    /* padding:0.5em!important; */
    position: absolute;
    z-index: 10;
    height: 100%!important;
    width: 100%!important;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 216, 0, 0.9);
    cursor: pointer;
}

.overlay2 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1!important;
}

.custom-link {
    padding: 0.7em!important;
    margin: 1em!important;
    border-radius: 30px!important;
    border: 0.5px solid rgba(253, 216, 0, 0.9)!important;
    outline: none!important;
    background-color: transparent!important;
    color: rgba(253, 216, 0, 0.9)!important;
    font-weight: bolder!important;
    cursor: pointer!important;
    font-size: 12px!important;
}

.custom-btn {
    padding: 1em!important;
    margin: 1em!important;
    border-radius: 30px!important;
    border: 0.5px solid white!important;
    outline: none!important;
    background-color: white!important;
    color: rgba(253, 216, 0, 0.9)!important;
    font-weight: bolder!important;
    cursor: pointer!important;
    font-size: 15px!important;
}

.custom-link:hover {
    /* background-color: rgba(0, 145, 234, 1)!important; */
    color: white!important;
    background-color: #fdd800!important;
    border: 0.5px solid transparent!important;
    transition: background-color 0.5s!important;
}

.modify-action {
    padding: 1.5em!important;
}

.uscont {
    border-radius: 10px!important;
    margin: 2.5em!important;
    padding-bottom: 1em!important;
}

.center-ilayer {
    position: relative;
    display: flex!important;
    justify-content: center;
    margin-bottom: 1.3em!important;
}

.iconlayer {
    position: absolute;
    color: white!important;
    background-color: #fdd800!important;
    border-radius: 100px!important;
    padding: 1em;
    top: -35px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-row {
    display: flex!important;
    justify-content: center!important;
    flex-flow: row wrap;
}

#rqrate {
    background-color: white!important;
    color: #424242!important;
    padding: 0.2em!important;
    font-weight: bold;
    font-family: 'Hind', sans-serif!important;
    border: none!important;
    border-radius: 10px!important;
    text-align: center!important;
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4)!important; */
}

.test-area {
    position: relative!important;
}

.carousel-controls-custom {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    /* background-color:#fdd800!important; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.controller {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 1em!important;
    border: 0.5px solid #fdd800!important;
    color: #fdd800!important;
    border-radius: 100%;
    font-weight: bolder!important;
}

.controller:hover {
    background-color: #fdd800!important;
    color: #fff!important;
    cursor: pointer;
    transition: background-color 0.3s;
}

.date-overlay {
    position: absolute;
    z-index: 3;
    background-color: rgba(253, 216, 0, 0.9);
    color: white;
    font-size: 35px;
    word-wrap: break-word;
    font-weight: bolder;
    width: 100px;
    height: 100px;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    font-family: 'Righteous', cursive!important;
    text-align: center;
    line-height: 35px!important;
    text-shadow: 1px 1px 1px rgba(58, 58, 58, 0.89);
}

.contact-overlay {
    background-color: rgba(253, 216, 0, 0.9)!important;
    width: 100%;
    height: 100%;
    position: absolute;
}

.main-contact-items {
    z-index: 3;
    color: white;
    padding: 1em!important;
}


/* .main-contact-items>div>div:nth-child(2){
          border-left:1px solid white;
        } */

.cus-panel {
    padding: 0.3em!important;
}

.custom-icon {
    width: 50px!important;
    height: 50px!important;
    border-radius: 100%;
    background-color: white!important;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: rgba(253, 216, 0, 1)!important;
    padding: 0.5em!important;
}

.myendb {
    border-right: 2px solid white!important;
}

.nomarg {
    border-bottom: 0px!important;
}

.mycent {
    margin-left: auto!important;
    margin-right: auto!important;
}